/*  This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
    */

/* Fruitglass Importer */
/* by bonkmaykr        */
/* at bonkmaykr.xyz    */
/*                     */
/* Template: Valorant  */

/* IMPORTS - DO NOT REMOVE*/
@import url("https://bonkmaykrq.github.io/gbubers/fruitglass.css");

/* OPTIONAL IMPORTS - YOU MAY ENABLE/DISABLE THESE*/
/*@import url("https://bonkmaykrq.github.io/gbubers/snippets/scanlines.css");*/

/* VARIABLES */
:root {
	--BodyWrapperBackground: transparent;
  	--AuxiliaryColumnBackground: var(--BodyBackground)
        --fgPrimaryTextColor:227 ,28 ,121;
        --fgSecondaryTextColor:140, 140, 140;
        --fgAccentContrastTextColor:0, 0, 0; /*used for text selection, etc*/
        --fgAccentHighlightContrastTextColor:0, 0, 0; /*used for button hovers, etc*/
        
        --fgAccentColor:128, 49, 167;
        --fgAccentHighlight:113, 255, 255;
        --fgPrimaryColor:0, 0, 0;
        --fgSecondaryColor:97, 18, 13;
        --fgNavbarColor:0, 0, 0;
        --fgModuleOpacity:0; /*from 0 to 1 in decimal*/
        
        /*Image backgrounds should always be on layer 1.*/
        /*Layer 2 is used as backup until layer 1 loads.*/
        --fgBackground1:url("https://r4.wallpaperflare.com/wallpaper/841/79/783/purple-gray-simple-lines-wallpaper-c90008cd61caedcb86e7687f2031d67d.jpg");
        --fgBackground2:#6a1d37;
        --fgWrapperBackground:#000000a0;
        
        /*Controls the intensity of gaussian blur effects*/
        /*	!! WARNING !! - Module blurring will heavily reduce the framerate on low-end devices*/
        /*	If you want performance, set fgModuleBlur to 0px. Effectiveness may vary. */
        /*	When that doesn't work, feel free to remove the backdrop filter entirely. */
        --fgUIBlur:0px;
        --fgModuleBlur:0px;
	--fgPrimaryNavbarBlur:0px;
	--fgSecondaryNavbarBlur:0px;

		/*Sizing Options*/
		--fgNavbarRadius:30px; /*Setting this too high can cause problems. Try to keep it below 20px*/
		--fgPrimaryNavbarThickness:2px;
		--fgPrimaryNavbarPadding:0;
		--fgPrimaryNavbarMargin:3.5px;
		--fgSecondaryNavbarThickness:2px;
		--fgSecondaryNavbarPadding:0;
		--fgSecondaryNavbarMargin:10px;
		--fgModuleRadius:8px;
		--fgModuleThickness:2px;
		--fgModulePadding:.5em 1em 1em 1em;
		

		/*Gamebanana built-in settings*/
    	--DefaultBlueColor: #7777ff;
    	--DefaultRedColor: #ff7777;
    	--DefaultRedDarkColor: #ff9977;
    	--DefaultGreenColor: #77ff77;
    	--DefaultGreenDarkColor: #99ff77;
    	--DefaultPurpleColor: #9977ff;
    	--DefaultGreyColor: rgb(var(--fgSecondaryTextColor));
    	--DefaultOrangeColor: #ff8800;
    	--DefaultYellowColor: #ffff00;
		
		/*Custom cursors*/
    	--defaultCursor:        url("https://i.postimg.cc/XYd6W6p2/color-night-sky-pack-split.png"),default !important;
    	--textCursor:   url("https://files.gamebanana.com/bitpit/text_42755.png"),text !important;
    	--pointerCursor:   url("https://i.postimg.cc/13kR0KNd/color-night-sky-pack-split-1.png"),default !important;
    	
		/*Unused variables, caused font loading problems. Feel free to ignore*/
/*
		--fgFont:;
		--fgHeaderFont:;*/
}

/*custom*/
:root {
	--NavPaneTitleFontFamily:Valorant;
}

@font-face {
    font-family:Valorant;
    src:url(https://files.gamebanana.com/bitpit/valorant_font.ttf);
}

@font-face {
    font-family:Nunito;
    src:url(https://files.gamebanana.com/bitpit/nunito-regular_1b89e.ttf);
}

h1, h2, h3, module > h2 {font-family:Valorant !important;}
.RichText h1, .RichText h2, .RichText h3 {font-family:Nunito !important;}
#BodyWrapper {font-family:Nunito;}

@media only screen and (min-width : 1001px) {
a#SiteLogo > img {
        background:url("https://images.cooltext.com/5650743.png");
        background-size:230px 32px;
       
        width: 230px;
        height: 32px;
        display:block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 230px;
    }#BananaNavModule > widget > a {filter:none !important;}
    a#SiteLogo {filter:none !important;}
}
@media only screen and (max-width : 1000px) {
    
}


#MainContent {
  --AuxiliaryColumnBackground: transparent;
  --AuxiliaryColumnBorder: none;
  --FixedMainContentHeaderBackground: transparent;
  --VisibleHiddenColumnBackground: transparent;
}


nav#PrimaryNav {
    background: #00000094;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0px 0px 25px 15px white;
}


#SecondaryNav {
    background: #00000094;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(0px);
}


nav#SecondaryNav {
    background: #00000094;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0px 0px 25px 15px white;
    transition: all 1.5s;
}

#PrimaryNav module pane {
    background: #00000094;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

nav#PrimaryNav module pane {
    background: #000000d9;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}


body[data-_sSecondaryNavPosition=Left][data-_sSecondaryNavIconSize=Regular] #SecondaryNav pane {
    background: #00000094;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

/*Change 1*/

#PageFooter {
    backdrop-filter: blur(6px);   
    position: fixed;
    display: flex;
    background: url(https://images.cooltext.com/5650943.png), #00000094;
    background-repeat: no-repeat;
    background-size: 200px;
    background-attachment: scroll;
    background-position: top;
    background-position-y: -35px;
    font-family: euro;
    transition: all 1s;
    bottom: -19.3em;
    width: 100%;
    box-shadow: 0px 0px 5px 5px white;
    z-index: 1;
    left: 0;
    border: 0px none #ffffff1c;
}

#PageFooter column {
    text-align: left;
    margin: 1em;
    margin-top: 1.4em;
    display: inline-block;
    vertical-align: top;
}

#PageFooter:hover {
    padding-bottom: 12rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba;
    opacity: 1;
}

#PageFooter #ImportantLinks li a  { 
    border-radius: 15em; 
    font-size: var(--DefaultLargeFontSize); 
    font-weight: bold; 
    display: block; 
    background-color: rgba(0,0,0,.3); 
    padding: 0.5em 1em; 
    margin-bottom: 1em;
} 
